<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeatherChain</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">WeatherChain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Weather Data</a></li>
            <li class="nav-item"><a class="nav-link" href="/watch">Block Watcher</a></li>
            <li class="nav-item"><a class="nav-link" href="/validate">Block Validation</a></li>
          </ul>
        </div>
      </nav>
    </header>
  
    <!-- Begin page content -->
    <main role="main" class="container">
        <br>
    <h1 class="mt-5">Weather Updates for London, UK</h1>
    <p class="lead">
        <h3>Submitted in WeatherChain Block #: <a target="_blank" id="block_num"></a></h3>
        <strong>Weather:</strong> <img id="wicon" src="" alt=""> <span id="weather_desc"></span><br>
        <strong>Temperature:</strong> <span id="temperature"></span>&deg;C<br>
        <strong>Humidity:</strong> <span id="humidity"></span>%<br>
        <strong>Visibility:</strong> <span id="visibility"></span>m<br>
        <strong>Pressure:</strong> <span id="pressure"></span>mb<br>
        <strong>Sunrise:</strong> <span id="sunrise"></span><br>
        <strong>Sunset:</strong> <span id="sunset"></span><br>

        <h3>Chain info</h3>
        <strong>Contract:</strong> <a href="http://localhost:8081/address/<%= WEATHER_ORACLE_CONTRACT_ADDRESS%>" target="_blank"><%= WEATHER_ORACLE_CONTRACT_ADDRESS%></a><br>
        <strong>Tx:</strong> <a target="_blank" id="tx"></a><br><br>

        <strong>Current Time:</strong> <span id="block_time"></span><br>
        <strong>Next check:</strong> <span id="next_block">5</span>
    </p>

    </main>

    <footer class="footer">
    <div class="container">
        <span class="text-muted">Background images from <a href="https://pixabay.com" target="_blank">https://pixabay.com</a></span>
    </div>
    </footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/WeatherService.proto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>


<script type="text/javascript">

    var images = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg'];
    var bg_img = 'img/' + images[Math.floor(Math.random() * images.length)];

    $(document).ready(function () {

        $('body').css("background-image", "url('" + bg_img + "')");

        let weatherService = new WeatherServiceContract('<%= WEATHER_ORACLE_CONTRACT_ADDRESS%>',
                                'http://localhost:8547',
                                <%- JSON.stringify(WEATHER_ORACLE_ABI)%>);
        updateWeather();
        setInterval(function(){
            updateWeather();
         }, 5000);

        setInterval(function(){
            nextCheck();
        }, 1000);

         function updateWeather() {
             $('#next_block').text("6");
             weatherService.getWeatherUpdate(function(results) {

                let sunrise_date = new Date(0);
                let sunset_date = new Date(0);


                let data = results[0];
                let now = new Date(Date.now());

                sunrise_date.setUTCSeconds(data.returnValues.sunrise);
                sunset_date.setUTCSeconds(data.returnValues.sunset);

                let weather = JSON.parse(data.returnValues.weatherDescription);
                let icon = weather.icon;
                let icon_url = "http://openweathermap.org/img/w/" + icon + ".png"
                $('#wicon').attr('src', icon_url);
                $('#wicon').attr('alt', weather.description);

                $('#block_num').text(data.blockNumber);
                $('#block_num').attr('href','http://localhost:8081/block/' + data.blockNumber);
                $('#block_time').text(now.toString());
                $('#tx').text(data.transactionHash);
                $('#tx').attr('href','http://localhost:8081/tx/' + data.transactionHash);
                $('#weather_desc').text(weather.description);
                $('#temperature').text(data.returnValues.temperature);
                $('#humidity').text(data.returnValues.humidity);
                $('#visibility').text(data.returnValues.visibility);
                $('#pressure').text(data.returnValues.pressure);
                $('#sunrise').text(sunrise_date.toString());
                $('#sunset').text(sunset_date.toString());
            });
         }

        function nextCheck() {
            let current = parseInt($('#next_block').text());
            let next = current - 1;
            if(next < 0) {
                next = 0;
            }
            $('#next_block').text(next)
        }

    });
</script>
</body>
</html>